<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzQoIeaNzyHoRhJs-E53eqjfTC7OuUgxg</string>
	<key>GCM_SENDER_ID</key>
	<string>91485155994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sokoBeauty.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>soko-beauty-app</string>
	<key>STORAGE_BUCKET</key>
	<string>soko-beauty-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91485155994:ios:9b1e02bf96a8728060a523</string>
</dict>
</plist>